{% extends "base_generic.html" %}

{% block content %}
<div class="content">
    <div class="floating-element"></div>
    <div class="floating-element"></div>
    <div class="floating-element"></div>

    <form method="post" class="form-container">
        <h3>Вход</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>

        <div class="form-links">
            <a href="{% url 'register' %}">Нет аккаунта? Зарегистрируйтесь</a>
        </div>
    </form>
</div>
{% endblock %}